<div class="h1">Parts and Units</div>


<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Date</td>
    <td>Amount</td>
  </tr>
    <tr *ngFor="let unit of _serviceUnits">
      <td>{{unit.id}}</td>
      <td>{{unit.name}}</td>
      <td>{{unit.date}}</td>
      <td>{{unit.onStorage}}</td>
      <td>
        <button (click)="editUnitModal(unit)">Edit</button>
      </td>
      <td>
        <button (click)="removeUnit(unit)">Delete</button>
      </td>
    </tr>
  </table>


<div *ngFor="let part of _serviceParts">
  <table>
    <tr>
      <td>{{part.id}}</td>
      <td>{{part.partName}}</td>
      <td>{{part.date}}</td>
    </tr>
  </table>
</div>

<div *ngFor="let number of _servicePartNumbers">
  <table>
    <tr>
      <td>{{number.id}}</td>
      <td>{{number.partID}}</td>
      <td>{{number.unitID}}</td>
      <td>{{number.unitAmount}}</td>
    </tr>
  </table>
</div>

<button (click)="addUnitModal()">Add new unit</button>

<button (click)="logging()">Log</button>

