<div class="h1">Units</div>

<div>
  <button (click)="addUnitModal()">Add new unit</button>
</div>

<table class="table table-striped w-50">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Date</th>
    <th scope="col">Amount</th>
    <th scope="col">Type</th>
    <th scope="col"> </th>
    <th scope="col"> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let unit of _serviceUnits; index as i">
    <td>{{unit.id}}</td>
    <td>{{unit.name}}</td>
    <td>{{unit.date}}</td>
    <td>{{unit.onStorage}}</td>
    <td>{{unit.type}}</td>
    <td>
      <button (click)="editUnitModal(unit)">Edit</button>
    </td>
    <td>
      <button (click)="removeUnit(unit)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


<div class="h1">Parts</div>

<div>
  <button (click)="addPartModal()">Add new part</button>
</div>

<table class="table table-striped w-50">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Date</th>
    <th scope="col">Type</th>
    <th scope="col">Has recipe?</th>
    <th scope="col"> </th>
    <th scope="col"> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let part of _serviceParts; index as i">
    <td>{{part.id}}</td>
    <td>{{part.name}}</td>
    <td>{{part.date}}</td>
    <td>{{part.type}}</td>
    <td>{{hasRecipeAdded(part.id)}}</td>
    <td>
      <button (click)="editPartsModal(part)">Edit</button>
    </td>
    <td>
      <button (click)="removePart(part)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<!--<p-pickList [source]="_serviceUnits" [target]="selectedUnit" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="brand"
            dragdrop="true" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
  <ng-template let-unit pTemplate="item">
    <div class="ui-helper-clearfix">
      <div>{{unit.name}}</div>
    </div>
  </ng-template>
</p-pickList>-->
