<div class="h1">Units</div>

<div>
  <button (click)="addUnitModal()">Add new unit</button>
</div>

<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Date</td>
    <td>Amount</td>
    <td>Type</td>
  </tr>
    <tr *ngFor="let unit of _serviceUnits">
      <td>{{unit.id}}</td>
      <td>{{unit.name}}</td>
      <td>{{unit.date}}</td>
      <td>{{unit.onStorage}}</td>
      <td>{{unit.type}}</td>
      <td>
        <button (click)="editUnitModal(unit)">Edit</button>
      </td>
      <td>
        <button (click)="removeUnit(unit)">Delete</button>
      </td>
    </tr>
  </table>


<div class="h1">Parts</div>

<div>
  <button (click)="addPartModal()">Add new part</button>
</div>

  <table>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Date</td>
      <td>Type</td>
      <td>Has recipe?</td>
    </tr>
    <tr *ngFor="let part of _serviceParts">
      <td>{{part.id}}</td>
      <td>{{part.name}}</td>
      <td>{{part.date}}</td>
      <td>{{part.type}}</td>
      <td>{{hasRecipeAdded(part.id)}}</td>
      <td>
        <button (click)="editPartsModal(part)">Edit</button>
      </td>
      <td>
        <button (click)="removePart(part)">Delete</button>
      </td>
    </tr>
  </table>

<!--<p-pickList [source]="_serviceUnits" [target]="selectedUnit" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="brand"
            dragdrop="true" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
  <ng-template let-unit pTemplate="item">
    <div class="ui-helper-clearfix">
      <div>{{unit.name}}</div>
    </div>
  </ng-template>
</p-pickList>-->
