<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add new order</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="orderFormGroup">
    <table>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <input type="text" formControlName="customerName">
        </td>
      </tr>
      <tr>
        <td>
          Address:
        </td>
        <td>
          <input type="text" formControlName="customerAddress">
        </td>
      </tr>
      <tr>
        <td>
          Order date:
        </td>
        <td>
          <input type="text" formControlName="orderDate">
        </td>
      </tr>
      <tr>
        <td>
          Select part to order:
        </td>
        <td>
          <select class="w-100 browser-default custom-select" formControlName="orderedPart">
            <option hidden value="" disabled selected>Select one</option>
            <option [value]="part.id" *ngFor="let part of _sortedPartData">{{part.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Ordered amount:
        </td>
        <td>
          <input type="number" formControlName="amount">
        </td>
      </tr>
    </table>
  </form>

  <div *ngIf="_missing.length !== 0" class="alert alert-danger">
    <span>Not enough items in storage. Missing:</span>
    <div *ngFor="let item of _missing">{{item[0]}}: {{item[1]}}</div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" [disabled]="!orderFormGroup.valid" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>
