  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new unit</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="unitFormGroup">
        <table>
          <tr>
            <td>
              Name:
            </td>
            <td>
              <input id="name" type="text" formControlName="name">
            </td>
          </tr>
          <tr>
            <td>
              Stored Amount:
            </td>
            <td>
              <input id="amount" type="number" formControlName="onStorage">
            </td>
          </tr>
        </table>

      </form>
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
       class="alert alert-danger">

    <div *ngIf="name.errors.required">
      Name is required.
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" [disabled]="!unitFormGroup.valid" class="btn btn-outline-dark" (click)="save()">Save</button>
  </div>

